
body{
    margin: 0;
}
header{
    margin: 0;
    padding: 20px;
    display: flex;
    background-color:  #2E073F;
}

nav{
    display: flex;

    justify-content: center;
 
    width: 100%;
    
}
nav input{
    background-color: #2e073fb0;
    color: white;
    font-weight: 600;
width: 250px;
height: 50px;
    border: 0;
    text-transform: uppercase;
    padding: 10px;
}

nav input:hover{
    background-color: #3c0c51;
    cursor: pointer;    
    transition: background-color 0.6s;
    box-shadow: 0 0 5px #3c0c51;
    border-radius: 10px;
 



   

}